body {
    background-color: black;
    font-family: 'Luckiest Guy', cursive;
    color: #fdd835;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* --==================== Start Nav Bar ====================-- */

.navbar {
    background-color: black;
    padding: 0;
}

.nav-link {
    color: #fdd835;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fdd835;
    text-decoration: underline;
    background-color: black;
}

.navbar-toggler {
    color: #fafafa;
    font-size: 1.3rem;
}
/* --==================== End Nav Bar ====================-- */

/* --==================== End Page Heading/Hero Image ====================-- */

.main-heading {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 0;
}

@media (max-width: 576px) {
    .main-heading {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 0;
    }
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.introduction {
    font-family: 'Luckiest Guy', cursive;
    color: #fafafa;
    font-size: 1.5rem;
}

/* --==================== End Page Heading/Hero Image ====================-- */

/* --==================== Start Dividers ====================-- */

.divider {
    background-color: #373737;
    width: 60%;
    height: 1px;
    border-radius: 5px;
}

/* --==================== End Dividers ====================-- */

/* --==================== Start Features ====================-- */

.sub-heading {
    color: #fdd835;
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mini-heading {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.page-content {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
/* --==================== End Features ====================-- */

/* --==================== Start Play Now ====================-- */

.btn {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    border: 0.1rem solid #fdd835;
    margin: 2rem 1rem;
    text-decoration: none;
    color: #fafafa;
    background-color: black;
}

/* --==================== End Play Now ====================-- */

/* --==================== Start Footer ====================-- */

.list-inline {
    margin: 0;
}

.social-link a i {
    color: #fdd835;
    font-size: 2rem;
}

.social-link a i:hover {
    color: #fafafa;
    font-size: 1.8rem;
}

.copyright-text {
    color: #fdd835;
    text-transform: uppercase;
}

/* --==================== End Footer ====================-- */

/* --==================== Start Answer Container ====================-- */

.answer-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    width: 100%;
    min-width: 70%;
    border-radius: 2px;
    border: 0.1rem solid #fdd835;
    background-color: black;

    margin-bottom: 1rem;
}

.answer-container:hover {
    cursor: pointer;
    color: black;
    background-color: #fdd835;
}

.answer-prefix {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin: 0;
}

.answer-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
}

.correct {
    background-color: #689f38;
    border: 0.1rem solid #fafafa;
}

.incorrect {
    background-color: #d32f2f;
    border: 0.1rem solid #fafafa;
}

/* --==================== End Answer Container ====================-- */