body {
    background-color: black;
    font-family: 'Luckiest Guy', cursive;
    color: black;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* --==================== Start Nav Bar ====================-- */

.navbar {
    background-color: #fdd835;
    padding: 0;
}

.nav-link {
    color: black;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav .nav-item .active {
    color: #fdd835;
    text-decoration: underline;
    background-color: black;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fdd835;
    text-decoration: underline;
    background-color: black;
}

/* --==================== End Nav Bar ====================-- */

/* --==================== End Page Heading/Hero Image ====================-- */

.main-heading {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 0;
}

@media (max-width: 576px) {
    .main-heading {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 0;
    }
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin-top: 0;
}

.page-content {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* --==================== End Page Heading/Hero Image ====================-- */

/* --==================== Start Dividers ====================-- */

.divider-red {
    background-color: red;
    width: 60%;
    height: 1px;
    border-radius: 5px;
}

.divider-purple {
    background-color: #9c27b0;
    width: 60%;
    height: 1px;
    border-radius: 5px;
}

.divider-blue {
    background-color: #2196f3;
    width: 60%;
    height: 1px;
    border-radius: 5px;
}

.divider-green{
    background-color: #8bc34a;
    width: 60%;
    height: 1px;
    border-radius: 5px;
}

/* --==================== End Dividers ====================-- */

/* --==================== Start Features ====================-- */

.sub-heading {
    color: #fdd835;
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mini-heading {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/* --==================== End Features ====================-- */